<%- include('../adminlayout/header.ejs') %>

<div class="content-main">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Add Product</h4>
                </div>
                <div class="card-body">
                    <!-- Product form -->
                    <form id="addProductForm" action="/admin/products/addproduct" method="post" enctype="multipart/form-data">
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Product Name</label>
                            <input type="text" class="form-control" id="product_name" name="productName"  />
                            <div id="productNameError" class="text-danger"></div>
                        </div>
                        <div class="mb-4">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" rows="3" name="description" ></textarea>
                            <div class="text-danger" id="descriptionError"></div>
                        </div>
                        <div class="mb-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="text" class="form-control" id="price" name="price"  />
                            <div class="text-danger" id="priceError"></div>
                        </div>
                        <div class="mb-4">
                            <label for="category" class="form-label">Category</label>
                            <select class="form-select" id="category" name="category" >
                                <!-- Loop through categories fetched from the server -->
                                <% categories.forEach(category => { %>
                                    <option value="<%= category._id %>"><%= category.categoryName %></option>
                                <% }) %>
                            </select>
                            <div class="text-danger" id="categoryError"></div>
                        </div>
                        <div class="mb-4">
                            <label for="color" class="form-label">Color</label>
                            <input type="text" class="form-control" id="color" name="color" />
                            <div class="text-danger" id="colorError"></div>
                        </div>
                        <div class="mb-4">
                            <label for="stock_count" class="form-label">Stock Count</label>
                            <input type="number" class="form-control" id="stock_count" name="stockCount" />
                            <div class="text-danger" id="stockCountError"></div>
                        </div>
                        <div class="mb-4">
                            <label for="product_images" class="form-label">Product Images <img src="/imgs/theme/upload.svg" alt="Upload" style="width: 300px; height: 200px;" /></label>
                            <input type="file" class="form-control" id="productImg" name="productImg" multiple />
                            <div class="text-danger" id="productImgError"></div>
                        </div>
                        <div class="mb-4 text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Add Product</button>
                        </div>
                    </form>
                    <!-- End Product form -->
                </div>
            </div>
        </div>
    </div> 
</div>

<%- include('../adminlayout/footer.ejs') %>

<!-- Add this script to your EJS file -->
<script>
    document.getElementById('addProductForm').addEventListener('submit', function(event) {
        event.preventDefault();

        var productName = document.getElementById('product_name');
        var description = document.getElementById('description');
        var price = document.getElementById('price');
        var category = document.getElementById('category');
        var color = document.getElementById('color');
        var stockCount = document.getElementById('stock_count');
        var productImg = document.getElementById('productImg');
        
        // Reset error messages
        document.querySelectorAll('[id$="Error"]').forEach(error => {
            error.textContent = '';
        });

        // Validate Product Name
        if(productName.value === '') {
            document.getElementById('productNameError').textContent = 'Product Name is required';
            return false;
        }

        // Validate Description
        if(description.value === '') {
            document.getElementById('descriptionError').textContent = 'Description is required';
            return false;
        }

        // Validate Price
        if(price.value === '') {
            document.getElementById('priceError').textContent = 'Price is required';
            return false;
        }else if(price.value<1){
            document.getElementById('priceError').textContent = 'Price should be a positive number';
            return false;
        }

        // Validate Category
        if(category.value === '') {
            document.getElementById('categoryError').textContent = 'Category is required';
            return false;
        }

        // Validate Color
        if(color.value === '') {
            document.getElementById('colorError').textContent = 'Color is required';
            return false;   
        }

        // Validate Stock Count
        if(stockCount.value === '') {
            document.getElementById('stockCountError').textContent = 'Stock Count is required';
            return false;
        }else if(stockCount.value<1){
            document.getElementById('stockCountError').textContent = ' Stock Count should be positive value';
            return false;
        }

        // Validate Product Image
        if(productImg.files.length <=3||productImg.files.length >=5) {
            document.getElementById('productImgError').textContent = '4 Product Image is required';
            return false;
        }

        // If all validations pass, submit the form
        event.currentTarget.submit();
    });
</script>
