<%- include('../userlayout/header.ejs') %>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 
 <!--start page content-->
 <div class="page-content">
 
 
 
    <!--start product details-->
    <section class="section-padding">
     <div class="container">
       <div class="d-flex align-items-center px-3 py-2 border mb-4">
         <div class="text-start">
           <h4 class="mb-0 h4 fw-bold">Account - Updatepassword</h4>
        </div>
       </div>
      <div class="btn btn-dark btn-ecomm d-xl-none position-fixed top-50 start-0 translate-middle-y"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarFilter"><span><i class="bi bi-person me-2"></i>Account</span></div>
        <div class="row">
           <div class="col-12 col-xl-3 filter-column">
               <nav class="navbar navbar-expand-xl flex-wrap p-0">
                 <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbarFilter" aria-labelledby="offcanvasNavbarFilterLabel">
                   <div class="offcanvas-header">
                     <h5 class="offcanvas-title mb-0 fw-bold text-uppercase" id="offcanvasNavbarFilterLabel">Account</h5>
                     <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                   </div>
                   <div class="offcanvas-body account-menu">
                    <div class="list-group w-100 rounded-0">
                      <a href="/userdashboard" class="list-group-item "><i class="bi bi-house-door me-2"></i>Dashboard</a>
                      <a href="/order/viewOrder" class="list-group-item"><i class="bi bi-basket3 me-2"></i>Orders</a>
                      <a href="/userdetails" class="list-group-item"><i class="bi bi-person me-2"></i>Profile</a>
                      <a href="/editdetails" class="list-group-item"><i class="bi bi-pencil me-2"></i>Edit Profile</a>
                      <a href="/updatepassword" class="list-group-item active"><i class="bi bi-pencil me-2"></i>Change Password</a>
                      <a href="/address/loadSavedaddress" class="list-group-item"><i class="bi bi-pin-map me-2"></i>Saved Address</a>
                      <a href="/cart/wishlist" class="list-group-item"><i class="bi bi-suit-heart me-2"></i>Wishlist</a>
                      <a href="/cart/wallet" class="list-group-item"><i class="bi bi-basket3 me-2"></i>wallet</a>
                      <a href="/logout" class="list-group-item"><i class="bi bi-power me-2"></i>Logout</a>  
                    </div>
                  </div>
                 </div>
             </nav>
           </div>
        
                <div class="col-12 col-lg-6 col-xl-5 col-xxl-4 mx-auto">
                  <div class="card rounded-0">
                    <div class="card-body p-4">
                      <h4 class="mb-4 fw-bold text-center">Reset Password</h4>
                      <form action="/updatepassword" method="post">
                        <div class="row g-4">
                            <div class="col-12">
                                <label for="exampleCurrentPassword" class="form-label">Current Password</label>
                                <input type="password" class="form-control rounded-0" id="exampleCurrentPassword" name="currentPassword">
                            </div>
                            <div class="col-12">
                                <label for="exampleNewPassword" class="form-label">New Password</label>
                                <input type="password" class="form-control rounded-0" id="exampleNewPassword" name="newPassword">
                            </div>
                            <div class="col-12">
                                <label for="exampleConfirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control rounded-0" id="exampleConfirmPassword" name="confirmPassword">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-dark rounded-0 btn-ecomm w-100">Change Password</button>
                            </div>
                        </div><!---end row-->
                    </form>
                    

                    </div>
                  </div>
                </div>

      
         
          
        </div><!--end row-->
     </div>
   </section>
    <!--start product details-->
 
 
   
   
  </div>
   <!--end page content-->

<%- include('../userlayout/footer.ejs') %>

<% if (message && message.type === 'success') { %>
  <script>
    swal("Success", "<%= message.text %>", "success");
  </script>
<% } else if (message && message.type === 'error') { %>
  <script>
    swal("Error", "<%= message.text %>", "error");
  </script>
<% } %>
